.viewContainer {
    padding: 20px;
    justify-items: center;
}

.entryDetails {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}

.label {
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}

.value {
    text-align: left;
}

.imageContainer {
    grid-column: 1 / span 2;
}

.image {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-top: 10px;
}

.backLink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    background-color: #152238;
    color: white;
    transition: background-color 0.3s;
}

.backLink:hover {
    background-color: #1e3a5c;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}


@media (max-width: 768px) {
    .image {
        max-width: 100%;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .image {
        max-width: 100%;
        margin-top: 20px;
    }
}